.vertical {
	writing-mode: tb-lr;
	writing-mode: vertical-lr;
	-webkit-writing-mode: vertical-lr;
	letter-spacing: 0.2em;
}
.w-10 {
	width: 10%;
}
.w-45 {
	width: 45%;
}
.alert-dismissible {
	.close {
		position: relative;
		padding: 0.25rem 0.5rem;
		font-size: 0.875rem;
		line-height: 1.5;
	}
}
.modal-alert-success {
	display: none;
}
// .modal-alert-yesno {
// 	display: none;
// }
// Alertsのpadding高さ倍率
$alert-padding-height: 0.75;
// Alertのボタンサイズ
// Alertsに付属のボタンのpadding高さ倍率
$alert-btn-padding-height: 0.25;
// Alertsに付属のボタンの高さ倍率(fontSize倍率*高さ倍率)
$alert-btn-height: 0.875 * 1.5;
.alert-show {
	height: ($alert-padding-height * 2 + ($alert-btn-padding-height * 2 + $alert-btn-height)+ 0.125) * 1%;
	transition: height 2s 1s;
}
.alert-hide {
	height: 0;
	transition: height 2s 1s;
}
